// .empty{
//     float: left;
//     height: 1rem;
//     width: 100%;
//     background: #EFEFF4;
// }
.orderNav{
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 1;
    background: #fff;
    border-bottom: 1rem solid  #EFEFF4;
}
.orderListArea{
    margin-top: 4.2rem;
    float: left;
    width: 100%;
}